body {
    background: lavender;
  } 

h1 {
  text-align: center;
}

div.container {
  text-align: center;
  border: 2px solid black;
}

div.leave-comment {
  text-align: center;
}

div.image{
  text-align: center;
}

div.random-picture{
  text-align: center;
}

img{
  max-width: 300px;
  max-height: 300px;
}

form#likeBtn {
  text-align: center;
}

/*  give the image a class & name and give it a max width and max height */
/* to do: make the cat pictures center - DONE!
        : prevent default when adding a comment - DONE!
        : make the like button work -DONE!
        : when the like button is pressed say you have liked this page
        : when a comment is left leave it on the page*/