body {
    background: lavender;
  } 

h1 {
  text-align: center;
}

div.container {
  text-align: center;
  border: 2px solid black;
}

div.leave-comment {
  text-align: center;
}

div.image{
  text-align: center;
}

div.random-picture{
  text-align: center;
}

img{
  max-width: 300px;
  max-height: 300px;
}

form#likeBtn {
  text-align: center;
}